/*Font Setting*/
body{
    font-family: "Poppins", sans-serif;
}

/*Use flexbox to style each of the following areas: header, .nav_links, .pricing, .gallery*/
header,
.nav_links,
.pricing,
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Header image should be full width (auto height)*/
header img {
    width: 100%;
    height: auto;
}

/*Navigation links should be centered and stacked*/
.nav_links {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

/*Cards should be full width and stacked*/
.card{
    width: 100%;
}
/*Images should be full width and stacked*/
img{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: left;
    padding-left: 0;
}


/*Media query at min-width: 700px*/
@media screen and (min-width: 700px){
    /*Header image is 400px width (auto height)*/
    header img{
        width: 400px;
        /*height: auto;*/
    }

    header{
        justify-content: space-between;
    }

    .nav_links {
        flex-direction: row;
    }

    /*card should be stacked*/
    .pricing{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    /*Cards should be 300px wide, and be lined up (as many as there are space for on a row)*/
    .card{
        width: 300px;
        justify-content: left;
    }
    /*Images should be 300px wide, and be lined up (as many as there are space for on a row)*/
    .gallery img{
        width: 300px;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


#logo{
    /*The logo image in the header fades in over 3 seconds*/
    animation: fadeIn 3s;
}


/*If the user has set prefers reduced motion, the animation should not run*/
@media screen and (prefers-reduced-motion) {
    #logo {
        animation: none;
    }
}
