html, body {
    font-family: 'Poppins', sans-serif;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header img {
    width: 100%;
    height: auto;
}

.nav_links {
    display: flex;
    flex-direction: column;
}

.pricing {
    display: flex;
    flex-direction: column;
}
.gallery {
    display: flex;
    flex-direction: column;
}
.card, .gallery img {
    width: 100%;
}

@media all and (min-width: 700px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }
    header img {
        width: 400px;
        height: auto;
    }
    .nav_links {
        flex-direction: row;
    }
    .pricing {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card {
        width : 300px;
    }
    .gallery {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .gallery img {
        width : 300px;
    }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#logo{
    animation: fadeIn 3s;
}

@media screen and (prefers-reduced-motion) {
    #logo {
        animation: none;
    }
}
